<!DOCTYPE html>
<html lan="en">
	<head th:replace="fragments/head"/>
	<body>
		<nav th:replace="fragments/nav"/>
		<div class="container">
			<h2>Assigned incidents to <span sec:authentication="principal.username"></span></h2>
			
			<div class="panel panel-default">
				<div class="card">
					<h5 class="card-header">
						Incident notifications: 
					</h5>
					<div class="card-body">
						<table class="table" name="tableIncidents">
							<thead class="thead-light">
								<tr>
									<th>Incident name</th>
									<th>Location</th>
									<th>State</th>
									<th>Properties</th>
									<th>Comments</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="incident : ${incidentsList}">
									<td th:text="${incident.name}">Incident name</td>
									<td th:text="${incident.location.toString()}">Incident location</td>
									<td th:text="${incident.state.toString()}">Incident state</td>
									<td th:text="${incident.properties.toString()}">Incident properties</td>
									<td th:text="${incident.comments.toString()}">Incident comments</td>
									<div th:if="${incident.operator.email == activeOperator.email && activeOperator.modifyAccess==true}">
										<td><a class="btn btn-primary" role="button" th:href="${'/incident/edit/' + incident.id}">Modify</a></td>
									</div>
								</tr>
							</tbody>				
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>