<!DOCTYPE html>
<html lan="en">
	<head th:replace="fragments/head"/>
	<body>
		<nav th:replace="fragments/nav" />
		<div class="container">
			<h2>Incident dashboard:</h2>
			<div class="panel panel-default">	
				<div class="panel-body">
					<p><span sec:authentication="principal.username"></span> - <span>The following are a list of active incidents in the system</span>
				</div>
				
				<div class="card">
					<h5 class="card-header">
						Active incidents location
					</h5>
					<div class="card-body">
						<div id="mapa" style="width:100%;height:400px">
						</div>
					</div>
				</div>	
				
				<br>
				
				<div class="card">
					<h5 class="card-header">
						Active incidents details
					</h5>
					<div class="card-body">
						<table class="table" name="tableIncidents">
							<thead class="thead-light">
								<tr>
									<th>Agent</th>
									<th>Agent kind</th>
									<th>Incident name</th>
									<th>Location</th>
									<th>State</th>
									<th>Properties</th>
									<th>Comments</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="incident : ${incidentsList}">
									<td th:text="${incident.agent.username}">Agent</td>
									<td th:text="${incident.agent.kind}">Agent kind</td>
									<td th:text="${incident.name}">Incident name</td>
									<td th:text="${incident.location.toString()}">Incident location</td>
									<td th:text="${incident.state.toString()}">Incident state</td>
									<td th:text="${incident.properties.toString()}">Incident properties</td>
									<td th:text="${incident.comments.toString()}">Incident comments</td>
									<td><a th:href="${'/incident/edit/' + incident.id}">Modify</a></td>
								</tr>
							</tbody>				
						</table>
					</div>
				</div>			
			</div>				
			
			<script th:inline="javascript">
				/*<![CDATA[*/
					function initMap(){
						var initialLatLng = {lat: 40.6753526, lng:-6.6971668};
						var map = new google.maps.Map(document.getElementById("mapa"), {
							zoom: 5,  
							center: initialLatLng          
					    });		
						
						var incidents = [[${incidentsList}]];
						var markers = [];
						var infoWindows = [];
						for(i=0; i<incidents.length; i++){
							var inciLocation = {
									lat: parseFloat(incidents[i].location.lat),
									lng: parseFloat(incidents[i].location.lng)
							}
							markers[i] = new google.maps.Marker({
								position: inciLocation,
								title: incidents[i].name,
								map: map
							});
							markers[i].index = i;
							markers[i].link = "/incident/edit/" + incidents[i].id;
							
							var contentString = "<div id='content'>" +
								"<h3 id='firstHeading'>" + incidents[i].name + "</h3>" +
								"<div id='bodyContent'>" + 
									"<p>State: " + incidents[i].state + "</p>" + 
									"<a href='" +  markers[i].link + "'>Modify</a>" +
								"</div>" + 
								"</div>";
								
							infoWindows[i] = new google.maps.InfoWindow({
							    content: contentString
							});
							
							google.maps.event.addListener(markers[i], 'click', function(){
								infoWindows[this.index].open(map, this);
							});					
							
							google.maps.event.addListener(markers[i], 'dblclick', function(){
								window.open(this.link, "_self");
							});							
						}						
					}
				/*]]>*/
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAr9ogXGdZ9_qScXx3Pd8Rg0Kv5TuSV_U&callback=initMap" async defer></script>
		</div>
		
		<footer th:replace="fragments/footer"/>
	</body>
</html>