<!DOCTYPE html>
<html lan="en">
	<head th:replace="fragments/head"/>
	<body>
		<nav th:replace="fragments/nav" />
		<div class="container">
			<h2>Incident dashboard:</h2>
			<div class="panel panel-default">	
				<div class="panel-body">
					<p><span sec:authentication="principal.username"></span> - <span>The following are a list of active incidents in the system </span>
					<button type="button" class="btn btn-primary" id="updateButton">Update</a>
				</div>
				
				<script th:inline="javascript">
					/*<![CDATA[*/
					$("#updateButton").click(function() {
						 var urlUpdate = '/dashboard/update';
						 $("#dashboardInfo").load(urlUpdate);
					 });
					/*]]>*/
				</script>
				
				<div th:fragment="dashboardInfo" id="dashboardInfo">				
					<div class="card">
						<h5 class="card-header">
							Active incidents location
						</h5>
						<div class="card-body">
							<div id="mapa" style="width:100%;height:400px"></div>
						</div>
					</div>	
					
					<script src="/js/map.js"></script>
					<script th:inline="javascript">
						/*<![CDATA[*/
							incidents = [[${incidentsList}]];
							activeOperator = [[${activeOperator}]];
						/*]]>*/
					</script>
				 	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAr9ogXGdZ9_qScXx3Pd8Rg0Kv5TuSV_U&callback=initMap" async defer></script>
					
					<br>
					
					<div class="card" id="cardPieChart">
						<h5 class="card-header">
							State comparison of active incidents
						</h5>
						<div class="card-body">
							<div id="piechart" style="width:100%;height:400px"></div>
						</div>
					</div>
					
					<br>
					
					<div class="card" id="cardLineChart">
						<h5 class="card-header">
							Temperature evolution of incidents submitted by sensors
						</h5>
						<div class="card-body">
							<div id="linechart" style="width:100%;height:400px"></div>
						</div>
					</div>
					
					<script src="/js/charts.js"></script>
					
					<script th:inline="javascript">
						/*<![CDATA[*/
							google.charts.load('current', {'packages':['corechart']});
	      					google.charts.setOnLoadCallback(drawChart);
	      					
	      					incidents = [[${incidentsList}]];							
						/*]]>*/
					</script>
					
					<br>
					
					<div class="card">
						<h5 class="card-header">
							Active incidents details
						</h5>
						<div class="card-body table-responsive">
							<table class="table" name="tableIncidents">
								<thead class="thead-light">
									<tr>
										<th>Agent</th>
										<th>Agent kind</th>
										<th>Incident name</th>
										<th>Location</th>
										<th>State</th>
										<th>Properties</th>
										<th>Operator</th>
										<th>Comments</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="incident : ${incidentsList}">
										<td th:text="${incident.agent.username}">Agent</td>
										<td th:text="${incident.agent.kind}">Agent kind</td>
										<td th:text="${incident.name}">Incident name</td>
										<td th:text="${incident.location.toString()}">Incident location</td>
										<td th:text="${incident.state.toString()}">Incident state</td>									
										<td th:text="${incident.properties.toString()}">Incident properties</td>
										<td th:text="${incident.operator.email}">Operator</td>
										<td th:text="${incident.comments.toString()}">Incident comments</td>
										<div th:if="${incident.operator.email == activeOperator.email}">
											<td><a class="btn btn-primary" role="button" th:href="${'/incident/edit/' + incident.id}">Modify</a></td>
										</div>
									</tr>
								</tbody>				
							</table>
						</div>
					</div>	
				</div>		
			</div>				
		</div>
		
		<footer th:replace="fragments/footer"/>
	</body>
</html>