<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head">
</head>
<body>
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Welcome to the Incident Dashboard</h1>
			<p class="lead text-muted">
				The Incident Dashboard will display incident information submitted by the Incidence Manager.
			</p>
			<p>
				<a href="/login" class="btn btn-primary">Login</a>
			</p>
		</div>
	</section>
	<footer th:replace="fragments/footer"/>
</body>
</html>