<!DOCTYPE html>
<html lan="en">
	<head th:replace="fragments/head"/>
	<body>
		<nav th:replace="fragments/nav" />
		<div class="container">
			<h2>Modify incident - <span th:text="${incident.name}"></span></h2>
			<div class="card">
				<div class="card-body">
					<div id="mapa" style="width:100%;height:400px"></div>
				</div>
			</div>
			<script src="/js/map.js"></script>
			<script th:inline="javascript">
				/*<![CDATA[*/
					mapIncidents.push([[${incident}]]);
					draggable = true;
				/*]]>*/
			</script>
		 	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAr9ogXGdZ9_qScXx3Pd8Rg0Kv5TuSV_U&callback=initMap" async defer></script>
			
			<br>
			
			<div class="card">
				<div class="card-body">
					<form class="form-horizontal" method="post" th:action="${'/incident/edit/' + incident.id}" th:object="${incident}">
						<div class="form-group">
							<label class="control-label col-sm-2" for="inciState">Incident state:</label>
							<div class="col-sm-10">
								<select id="state" class="form-control" name="inciState">
									<option th:each="inciState : ${statesList}" th:value="${inciState}"
										th:text="${inciState}"> Estado
									</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="latlng">Location:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="latlng" id="location" 
									placeholder="Modify location by dragging marker in map" required="false" readonly/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="comment">Comment: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="comment"
									placeholder="Introduce comment for the incident" required="true"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">Modify</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<footer th:replace="fragments/footer"/>
	</body>
</html>